{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": 52,
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "lodash",
  ],
  "env": {
    "es": {
      "comments": false,
      "plugins": [
        "transform-inline-environment-variables"
      ]
    },
    "commonjs": {
      "comments": false,
      "plugins": [
        "transform-inline-environment-variables"
      ]
    },
    "test": {
      "plugins": [
        "@babel/plugin-transform-runtime",
        ["module-resolver", {
         "root": ["./src"]
       }]
      ]
    }
  }
}
