{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "chrome": 52,
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }]
  ],
  "plugins": [
    "lodash",
    "transform-inline-environment-variables",
    "transform-object-rest-spread",
    "transform-object-assign",
  ],
  "env": {
    "es": {
      "comments": false
    },
    "commonjs": {
      "comments": false
    }
  }
}
