root: true

parser: babel-eslint

extends: [airbnb, prettier]
plugins: [babel, prettier]

env:
  browser: true
  es6: true
  node: true

rules:
  prettier/prettier: ['error', {
    singleQuote: true, # airbnb
    trailingComma: 'all', # airbnb
    # arrow-parens: 0 # does not support requireForBlockBody
  }]
  no-console: 'error'
  no-confusing-arrow: 0
  no-case-declarations: 0
  arrow-parens: [2, "as-needed"]
