name: NPM Package Publish

on:
  push:
    branches:
      - main
      - next
      - beta
      - alpha
      - '[0-9]+.x' # maintenance releases

concurrency:
  group: publish-${{ github.ref }}

env:
  NODE_VERSION: 18.x

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'yarn'

      - name: Configure package manager
        run: |
          npm config set '//registry.npmjs.org/:_authToken' ${{ secrets.NPM_TOKEN }}
          yarn config set npmAuthToken ${{ secrets.NPM_TOKEN }}

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Check For Lint
        run: yarn lint

      - name: Run Unit Tests + Coverage
        run: yarn test:cov

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # NOTE: ^19 is ESM and was causing a break
          semantic_version: ^18
          branches: |
            [
              '+([0-9])?(.{+([0-9]),x}).x',
              'main',
              'next',
              {name: 'beta', prerelease: true},
              {name: 'alpha', prerelease: true}
            ]

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
